.hero {
    display: flex;
    height: 100vh;
    max-height: 100vh;
}

.imagemB{
    width: 50%;
    background-color:#73b5ca ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imagemB img {
    width: 600px
}

.formulario{
    width: 50%;
    padding: 40px 120px;
    flex-grow: 1;
    overflow-y: auto;
    max-height: 100vh;
    
    p {
        width: 100%;
        padding-bottom: 4px;
    }

    .titulo  {
        width: 100%;
        text-align: center;
    }

    .dados_pessoais, .endereco {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    
    .categoria {
        color: #73b5ca;
        padding-top: 20px;
    }

    input {
        display: flex;
        background: #dad9d9;
        width: 100%;
        border: none;
        padding: 8px 12px;
        border-radius: 5px;
    }
}

.dois_input {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;

    div {
        width: 100%;
    }
}


.cep_rua {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 100%;

    .cep_input {
        width: 25%;
    }
    .rua_input {
        width: 75%;
    }
}

.bairro_n {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 100%;

    .bairro-input {
        width: 75%;
    }
    .n_input {
        width: 25%;
    }
}

.cidade_estado {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 100%;

    .cidade_input {
        width: 50%;
    }
    .estado_input {
        width: 50%;
    }
}

.salvar_botao {
    width: 100%;
    margin-top: 25px;

    button {
        background: #73b5ca;
        border: none;
        padding: 12px 0px;
        color: white;
        font-weight: 900;
        width: 100%;
        border-radius: 5px;
        margin-bottom: 10px;
    }
    
    a {
        font-weight: 700;
        text-decoration: underline;
        color: #73b5ca;
    }
}
