.container {
    background-color: #73b5ca;
    color: #333;  
    padding-bottom: 50px; 
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
}

.logo{
    width: 190px;
    height: 190px;
    margin-right: 80px ;
    display: flex;
    position: absolute;
    top: -57px;
}

.cabeçalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(248, 246, 246);
    padding: 20px 50px;
    margin-bottom: 100px;
}

.nav {
    display: flex;
    align-items: center;
    
}

.nav ul {
    list-style: none;
    display: flex;
    margin-left: 300px;
    top: 10px;
}

.nav ul li {
    margin: 0 15px;
}

.nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: 0.3s;
    margin: 20px;
}

.search {
    display: flex;
    align-items: center;
    border-radius: 10px;
    color: white;
}

.search input {
    padding: 10px;
    border: none;
    border-radius: 50px;
    margin-right: 10px;
    background-color: #73B5CA;
    color: white;
}

.search button {
    background: none;
    border: none;
    cursor: pointer;
    color: #73B5CA;
    width: 20px;
    height: 20px;
}

.hero {
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding: 50px;
    background: rgb(255, 255, 255);
    border-radius: 50px;
    margin: 0px 50px;
    height: auto; 
    gap: 30px; 
}

.titulo1{  
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.section_Hero {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero_text {
    text-align: center;
}

.Agendamento {
    margin-right: -200px;
}

.input_Agendamento{
    width: 100%;
    padding: 30px;
    border-radius: 20px;
}

.input_Agendamento input{
    background: #73B5CA;
    border-radius: 50px;
    width: 300px;
    height: 30px;
    padding-inline: 10px;
}
.input_Agendamento button{
    margin-top: 10px;
    border-radius: 50px;
    border-color: rgb(199, 198, 198);
    width: 200px;
    margin-left: 50px;


}
